.entry .entry-title:before {
    display: none;
}

h1:not(.site-title):before, h2:before{
    display:none;
}

header nav ul li {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .site_branding {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }
}
